.container-contact{
    align-items: center;
    display: flex;
    width: 100%;
}

.container-contact-section1{
    width: 50%;
}

.container-contact-section2{
    width: 50%;
}

.px-form{    
    width: 50%;
    padding-right: 4px;
}

.contenedor-formulariox2{
    display: flex;
    flex-wrap: wrap;
}